ASPClient/Connected Services/DonServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestWCFLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestWCFLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="mark1" type="xs:int" />
      <xs:element minOccurs="0" name="mark2" type="xs:int" />
      <xs:element minOccurs="0" name="mark3" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfDeviceUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceUsers" nillable="true" type="tns:DeviceUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceUsers" nillable="true" type="tns:ArrayOfDeviceUsers" />
  <xs:complexType name="DeviceUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceUsers" nillable="true" type="tns:DeviceUsers" />
</xs:schema>